{% extends "base_generic.html" %}
{% block title %}<title>AI圖片去背</title>{% endblock %}

{% block sidebar %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'web_flickr' %}"><i class="fab fa-flickr fa-lg"></i>&nbsp Flickr搜尋圖片</a></li>
            <li><a href="{% url 'web_google' %}"><i class="fab fa-google fa-lg"></i>&nbsp Google搜尋圖片</a></li>
            <li class="active"><a href="#"><i class="fas fa-file-upload fa-lg"></i>&nbsp 上傳圖片</a></li>
            <!--<li><a href="#"><i class="fas fa-images fa-lg"></i>&nbsp 去背結果</a></li>-->
          </ul>
{% endblock %}

{% block content %}
  <h1 class="page-header">上傳圖片</h1>
          <div class="table-responsive">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--<table>-->
                {{form.as_table}}
                <!--</table>-->
                <input type="submit" value="上傳" onclick="this.disabled=true;this.value='AI運算中，請稍等10秒...';this.form.submit();">
            </form>
          </div>

        {% if picture %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="{{ original }}"><img src="{{ original }}" alt="{{ picture.title }}" width="300" height="300" class="img-responsive"></a>
              <h4>Before</h4>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <!--<a href="{{ picture.image_file.url}}"><img src="{{ picture.image_file.url}}" alt="{{ picture.title }}" width="300" height="300" class="img-responsive"></a>-->
              <a href="{{ picture}}"><img src="{{ picture}}" alt="{{ picture.title }}" width="300" height="300" class="img-responsive"></a>
              <h4>After</h4>
            </div>
          </div>
        {% endif %}
{% endblock %}
